a[id^="star"] {
	color: black;
}
a[id^="star"]:link {
	color: black;
}
a[id^="star"]:visited {
	color: black;
}
a[id^="star"]:hover {
	text-decoration: none;
	color: black;
}
a[id^="star"]:active {
	text-decoration: none;
	color: black;
}
a[id^="star"]:focus {
	text-decoration: none;
	color: black;
}
a.navbar-brand {
	font-variant: small-caps;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
#hero-picture {
	position: relative;
	background: white url('../img/chiefizzle.png') no-repeat top center;
  	-webkit-background-size: auto;
  	-moz-background-size: auto;
  	-o-background-size: auto;
  	background-size: auto;
	display:block;
	min-height:100%;
	height:680px;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	top: 0px;
}
.white {
	color:white;
	text-rendering: optimizelegibility;
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/*.chief-header {
	background: white url('../img/chiefizzle.png') no-repeat center 50px;
	-webkit-background-size: auto;
  	-moz-background-size: auto;
  	-o-background-size: auto;
  	background-size: auto;
	background-attachment: fixed;
	padding: 0;
}
.chief-header .container {
	margin-left: 0;
	padding-left: 0;
}
.chief-header .container .row div {
	padding: 30px 48px;
	background: #EEE;
	color: #317EAC;
}*/