{{> header }}
  <div class="container">
		<h1>About Us</h1>
		<b>Petage is committed to improving the pet ownership experience.</b> A pet is one of the most important parts of your life. Petaga is here to help you better care for your pets.  We aim to provide resources to evaluate, select, and save on the major pet expenses. We have started by tackling the complex, and often, frustrating pet insurance business. Although you may not want to think about a potential health scare for your pet, you should always be prepared so that you can focus on the appropriate care rather than if you have enough in the bank account!<br>
		We are so committed to providing you with an unbiased opinion that we are unaffiliated with any insurance provider or pet healthcare provider. We have built our reviews to help our customers. Our site provides the opinions of our experts, customers, pet professionals, and industry veterans.
	</div>
{{> footer }}