			<hr>
			<footer>
				<p class="pull-right">
					<a href="#">Back to top</a>
				</p>
				<p class="text-center">
					<a href="./about_us.html">About</a> | <a href="#contact">Contact</a> | <a href="#privacy">Privacy</a> | <a href="#admin">Admin</a></br>
					<small>&copy; Petaga, Inc.</small>
				</p>
			</footer>
		</div> <!-- /container -->
		<!-- Core JS -->
  	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  	<script src="static/js/bootstrap.min.js"></script>
  	<script src="static/js/prefixfree.min.js"></script>
  	<script src="static/js/mustache.js"></script>
  	<script src="static/js/dynamic-loader.js"></script>
	</body>
</html>