{{> header }}
		<div id="hero-picture">
			<div class="container white hidden-xs">
				<div class="row">
					<div class="col-md-3">
						<h3 class="white" style="margin-top: 400px;">Get a Free Quote</h3>
						<p>
							<em>Use our interactive questionnaire to find the best solution for your pet!</em>
							<div class="view" data-template="test1">
							  <ul>
							    [[#data]]
							    <li>[[title]]</li>
							    [[/data]]
							  </ul>
							</div>
						</p>
						<p>
							<a class="btn btn-md btn-default" href="#">
								<em>Start Here &raquo;</em>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 visible-xs">
					<h2>Get a Free Quote</h2>
					<p>
						<em>Use our interactive questionnaire to find the best solution for your pet!</em>
					</p>
					<p>
						<a class="btn btn-primary" href="#">
							<em>Start Here &raquo;</em>
						</a>
					</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>Puppies &amp; Dogs</h2>
					<p>
						<em>Your dog's life has many stages what each come with joys, challenges and risks. Learn more about how to protect your loyal friend with the right protection plan</em>
					</p>
					<p>
						<a class="btn btn-primary" href="#">
							<em>Learn More &raquo;</em>
						</a>
					</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>Kittens &amp; Cats</h2>
					<p>
						<em>No matter if you have an outdoor or indoor cat, we will help you learn about the best possible protection plan for your valuable family member</em>
					</p>
					<p>
						<a class="btn btn-primary" href="#">
							<em>Learn More &raquo;</em>
						</a>
					</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>Compare Plans</h2>
					<p>
						<em>Compare all plans and pricing</em>
					</p>
					<p>
						<a class="btn btn-primary" href="#">
							<em>View details &raquo;</em>
						</a>
					</p>
				</div>
			</div>
		</div>
{{> footer }}