{{> header }}
  <div class="container">
		<h1>Pet Insurance 101</h1>
			<ol>
				<li>Pet Insurance can save you money in the long run by covering large bills that would otherwise put you into debt.</li>
				<li>Pet Insurance saves lives! By covering unexpected and potentially unreasonable bills you don’t have to choose between your wallet and your pet’s medical 							   bills…that’s superhero-esque if you ask us!</li>
				<li>Not all pet insurance is created equal.  Some insurance plans will cover your pet’s illnesses but not accidental trauma, or cancer treatments.   Spend the time to do your homework about the plan you select; it will save you money and ensure your Pet’s complete protection.</li>
				<li>Let freedom (of vet choice) ring!   Most plans allow you to pick the vet of your choice to care for you furry friend.  Unlike like human insurance, there aren’t in/out of network vets you need to worry about.</li>
				<li>Pssst it’s a secret!    Make sure you pick the best plan for your pets health and this won’t necessarily be the most expensive a company offers.  Each plan has different coverage and you can save $$$ by selecting a plan that gives you everything you need without unnecessary frills.</li>
				<li>Pet insurance is treated like property insurance.  What’s that you say? you don’t own property,  so don’t know what that means?  It means you have to pay the vet out of pocket and then submit a claim to your insurance company afterwards for reimbursement.  This can be troubling for families with razor thin budgets.  If you’re not in a position to wait 30-60 days for financial reimbursement, then sadly, pet insurance might not be a realistic option for you.</li>
				<li>Basic rules of insurance still apply.  You can’t apply for insurance after your pet’s already been injured or declared ill.  Pre-existing conditions aren’t covered in your own health insurance, and they won’t be in your pets either.</li>
				</li>Pet insurance companies are businesses.  Some have great customer service, some have great policies at reasonable rates, some just have pretty pictures on their websites.  Make sure you remember that these are still for- profit businesses and they like to make money.  Do your homework, spend some time to read reviews, and read the fine print before you sign up.</li>
				<li>Insurance isn’t enough.  You need to pay attention to your pet’s health throughout the year to avoid the issues that insurance covers.  Take preventive steps to ensure your pet’s wellbeing such as visiting the vet for regular checkups, provide a balanced diet, and get the appropriate vaccinations.  You’re reading about insurance because you care about your pet, this is probably preaching to the choir.</li>
				<li>Have fun! Do something after you finish your pet insurance research because let’s face it, reading about insurance policies is boring.</li>
			</ol>
		
	</div>
{{> footer }}