{{> header }}
 <div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Meet the Team</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding-top: 64px; padding-bottom: 32px;">
			<div class="row">
				<div class="col-md-2">
					<img src="http://placehold.it/150" class="img-thumbnail pull-right" />
				</div>
				<div class="col-md-10">
					<h1>Andy Plaisted</h1>
					<p class="lead">
						Co-Founder
					</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-2">
					<img src="http://placehold.it/150" class="img-thumbnail pull-right" />
				</div>
				<div class="col-md-10">
					<h1>
						Samuel Winslow
						<a class="btn btn-default pull-right" href="http://samwinslow.me/">View Portfolio <span class="glyphicon glyphicon-new-window"></span></a>
					</h1>
					<p class="lead">
						Co-Founder
					</p>
				</div>
			</div>
		</div>
{{> footer }}